@import '../../../../vendor/filament/filament/resources/css/theme.css';

@source '../../../../app/Filament/**/*.php';
@source '../../../../resources/views/filament/**/*.blade.php';

.fi-account-widget .fi-section,
.fi-system-info-widget .fi-section {
    height: 6.25rem;
    min-height: 0;
}

.fi-wi-chart-canvas-ctn {
    height: 260px !important;
    min-height: 0 !important;
}
